{% extends "base.html.twig" %}
{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.username) }}
    <br/>
    {{ form_row(form.email) }}
    <br/>
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
    <br/>
    <button type="submit">Register !</button>
    {{ form_end(form) }}

{% endblock %}